/* Start General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #fffcd2;
    --background-color: #fffef3;
    --border-color: #666448;
    --hover-color: #f7f7f7;
}
body {
    background-color: var(--background-color)
}
/* End General styles */

/* Start main page style */
.moshaf-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--border-color);
    max-width: 30%;
    margin: 5px auto 0;
    background-color: #fff;
    position: relative;
    z-index: 10;
}
@media (max-width: 992px) {
    .moshaf-pages {
        border: 5px solid var(--border-color);
        max-width: 90%;
    }
}
@media (max-width: 576px) {
    .moshaf-pages {
        border: 5px solid var(--border-color);
        max-width: 95%;
    }
}

.moshaf-pages object{
    width: 100%;
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.border img {
    width: 100%;
    height: 100%;
    padding: 20px;
}
#next,
#prev {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 50px;
    top: 50%;
    cursor: pointer;
}
#next {
    left: 100px;
}
#prev {
    right: 100px;
}
/* End main page style */